/* font size */

$fontsize-12: 0.857em;
$fontsize-13: 0.928em;
$fontsize-14: 1em;
$fontsize-16: 1.142em;
$fontsize-20: 1.428em;
$fontsize-24: 1.714em;
$fontsize-30: 2.142em;


/* colors */
$body-color: #777;
$link-color: #375d7c;
$link-hover-color: #333;
